@media (max-width:1180px) {
    main nav img.Chapeu{
        display: none;
    }
}

@media (max-width:800px) {
    main nav section {
        display: grid;
        grid-template-columns: auto auto;
    }
}