@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Princess Sofia';
}
:root {
    --primary: #341307;
    --secondary: #603A2C;
    --black: #00000080;
    --White: #ffffff;
}

body {
    background-image: url("./Img/salão_comunal\ 1.png") ;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--primary);
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
    height: 4rem;
}

header img.logo{
    padding: 0.1rem;
}

header section img{
    height: 3rem;
    margin-top: 100px;
    margin: 0 0.1rem;
}

header nav{
    display: flex;
    align-items: center;
    font-size: xx-large;
}

header nav a{
    margin: 0 1rem;
    text-decoration: none;
    color: var(--White);
}

header nav a:hover{
    font-weight: bold;
}